{{- $name := .Site.Params.name | default .Site.Title -}}
{{- $menu := .Site.Menus.main -}}
{{- if not $menu -}}
  {{- $menu = slice
    (dict "Name" "home" "URL" "/")
    (dict "Name" "writing" "URL" "/blog/")
    (dict "Name" "photos" "URL" "/photography/")
    (dict "Name" "travel" "URL" "/travel/")
    (dict "Name" "projects" "URL" "/projects/")
  -}}
{{- end -}}
{{- $here := .RelPermalink -}}
<header>
  {{- if .IsHome }}
  <h1 class="name">{{ $name }}</h1>
  {{- else }}
  <p class="name"><a href="{{ "/" | relURL }}">{{ $name }}</a></p>
  {{- end }}
  <nav aria-label="site">
    <ul class="nav">
      {{- range $menu }}
        {{- $url := .URL -}}
        {{- $current := or (eq $here $url) (and (ne $url "/") (hasPrefix $here $url)) -}}
        <li><a href="{{ $url | relURL }}"{{ if $current }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
      {{- end }}
    </ul>
  </nav>
</header>
