{{ define "main" }}
  <p class="tag">{{ .Site.Params.description | safeHTML }}
  {{- with .Site.Params.socials }} Elsewhere:
    {{- $n := len . -}}
    {{- range $i, $s := . }}
      <a href="{{ $s.url }}">{{ $s.name }}</a>{{ if lt $i (sub $n 1) }},{{ else }}.{{ end }}
    {{- end }}
  {{- end }}
  </p>
  {{- with .Site.Params.now }}
  <div class="note"><b>Now:</b> {{ . | safeHTML }}</div>
  {{- end }}

  {{- $posts := where .Site.RegularPages "Section" "blog" }}
  {{- with $posts }}
  <hr>
  <h2>Writing</h2>
  {{ partial "post-list.html" (dict "pages" .) }}
  {{- end }}

  {{- $albums := where .Site.RegularPages "Section" "photography" }}
  {{- with $albums }}
  <hr>
  <h2>Photos</h2>
  {{ partial "post-list.html" (dict "pages" .) }}
  {{- end }}

  {{- $projects := where .Site.RegularPages "Section" "projects" }}
  {{- with $projects }}
  <hr>
  <h2>Projects</h2>
  <ul>
    {{- range .ByWeight }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
  {{- end }}
{{ end }}
