{{ define "main" }}
  <article>
    <h1 class="title">{{ .Title }}</h1>
    {{- if or (not .Date.IsZero) .Description }}
    <p class="meta">
      {{- if not .Date.IsZero }}{{ .Date.Format "January 2 2006" }}{{ if .ReadingTime }}, {{ .ReadingTime }} minute read{{ end }}{{ end -}}
    </p>
    {{- end }}
    {{- with .Description }}<p>{{ . }}</p>{{ end }}
    {{ .Content }}
  </article>
  {{- if or .PrevInSection .NextInSection }}
  <nav class="prevnext" aria-label="more">
    {{- with .PrevInSection }}<a href="{{ .RelPermalink }}">Older: {{ .Title }}</a>{{ else }}<span></span>{{ end }}
    {{- with .NextInSection }}<a href="{{ .RelPermalink }}">Newer: {{ .Title }}</a>{{ end }}
  </nav>
  {{- end }}
{{ end }}
